<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/studentconsole.css'/>
    <title>Student Dashboard</title>
</head>
<body>
    <%-include('../views/header-nt',{name: data.name})%>
    <div class="test-container">
        <div class="big-title">
            Your tests
        </div>
       <div class="tests">
       </div>
    </div>
</body>
<script src='/studentconsole.js'></script>
</html>